<!-- View template for race -->
<section>

	<!-- Div for the radio buttons -->
	<div class="radgrp" ng-init="betValue=.25">
		<span>Pick bet value:</span>

		<label>
			<input type="radio" ng-model="betValue" ng-value=".25" ng-checked="true">
			$0.25
		</label>

		<label>
			<input type="radio" ng-model="betValue" ng-value="1">
			$1.00
		</label>
	</div>

	<!--  Div for the input table -->
	<div class="horselist">
		<table>
			<tbody>
				<tr>
					<th>Horse</th>
					<th>Starting Tickets</th>
					<th>Ending Tickets</th>
				</tr>

				<tr ng-repeat="horse in horses">
					<td>
						{{horse.num}}
					</td>

					<td>
						<input type="number" min="1" ng-model="horse.startingTickets" required>
					</td>

					<td>
						<input type="number" min="0" ng-model="horse.endingTickets" required>
					</td>

					<td>
						<span class="error" ng-hide="horse.validInput">Invalid Input</span>
						<span ng-show="allValid">{{horse.winningPrice | currency}}</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!--  Div for buttons on the bottom-->
	<div class="btngrp">
		<a class="btn" href="#/home">Home</a>
		<a class="btn" ng-click="validateAndSubmit()">Submit</a>
		<a class="btn" ng-href="#/history">History</a>
	</div>

</section>
