<!-- View template for race -->
<section>
	<div class="horselist">
		<ul >
			<li>
				<span>Horse #</span>
				<span>Starting Tickets</span>
				<span>Ending Tickets</span>
			</li>
			<li ng-repeat="horse in horses">
				<span>Horse {{horse.horseNum}}</span>
				<input type="number" min="1" placeholder="Starting Tickets" ng-model="horse.startingTickets" required>
				<input type="number" min="0" placeholder="Ending Tickets" ng-model="horse.endingTickets" required>
			</li>
		</ul>
	</div>

	<div class="btngrp">
		<a class="btn" href="#/home">Home</a>
		<a class="btn" href="#/home" ng-click="submitRace()">Submit</a>
		<a class="btn" ng-href="#/history">History</a>
	</div>

</section>
